:root {
  background-image:radial-gradient(circle, rgba(0,0,0,0.1390756986388305) 0%, rgba(0,0,0,0.33235300956320024) 33%, rgba(0,0,0,0.6040616930365896) 82%, rgba(0,0,0,1) 100%), url(../img/BannerMixSm.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} 
#about {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aboutBlock {
  height: 100%;
  margin-top: 1%;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;}

.aboutText {
  margin: 2% auto;
  text-align: center;
}

  #about h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  #about h3 {
    display: block;
    font-size: 2rem;
    letter-spacing: 2px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  #about p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    width: 90%;
    margin: 10px auto;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding: 10px 0;
  }
