#about {
  width: 100vw;
  position: absolute;
  top: 0;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.aboutBlock {
  display: flex;
  padding-top: 5%;
  height: 100%;
  width: 95%;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;}

.aboutText {
  margin: 2% auto;
  text-align: center;
}

  #about h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  #about h3 {
    display: block;
    font-size: 1.7rem;
    letter-spacing: 2px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  #about p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    width: 90%;
    margin: 10px auto;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding: 10px 0;
  }
