:root {
  background: white;
  background-image:radial-gradient(circle, rgba(0,0,0,0.1390756986388305) 0%, rgba(0,0,0,0.33235300956320024) 33%, rgba(0,0,0,0.6040616930365896) 82%, rgba(0,0,0,1) 100%), url(../img/old-map-and-compass.jpg);
  background-attachment: fixed;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  width: 100vw;
  position: absolute;
  top: 0;
  color: rgb(255,255,255);
}

.aboutBlock {
  display: flex;
  padding-top: 10vh;
  height: 100%;
  width: 95%;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutText {
  margin: 2% auto;
  text-align: left;
}

  #about h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  #about h3 {
    display: block;
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: 5px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  #about p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    width: 95%;
    margin: auto;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 30px 0;
  }
