:root {
    background-image:url(../img/Face.png);
    background-attachment: fixed;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
}

#masthead {
    color: black;
}

#services {
    width: 100vw;
    position: absolute;
    top: 0;
    color: white;
    overflow: hidden;
}

.servicesBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 95%;
    margin: auto;
    padding-top: 15vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    /* margin: auto; */
    flex-flow: wrap;
}

.serviceItem {
    max-width: 375px;
    margin: 10px auto;
    background: rgba(0,0,0,0.4);
    border-radius: 5%;
    text-align: center;
    padding: 7% 0;
}
 
.aboutContent {
    flex-direction: column;
    justify-content: center;
}

.aboutText {
    margin: 2% auto;
    text-align: center;
}

#services h2 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#services h3 {
    display: block;
    font-size: 2rem;
    letter-spacing: 2px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#services p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    width: 90%;
    margin: 10px auto;
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 25px 0;
}

#serviceList ul {
    width: 90%;
    text-align: left;
    margin: auto;
    padding-bottom: 1%;
}

#serviceList li {
    text-align: left;
    font-size: 1.1rem;
    padding: 5px 0;
}

.blind{
    color: white;
    text-decoration: underline;
}

@media screen and (width > 768px){

    .servicesBlock {
        padding-top: 5vh;
    } 

}

@media screen and (width > 1040px){
    #services {
        width: 100%;
    }

    .serviceItem {
        max-width: 30vw;
    }
}