/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
  
* {
  box-sizing: border-box;
}

/* ---- base ---- */
:root {
	width:100%;
	height:100%;  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'robotomedium';
  color: white;
  background-image:radial-gradient(circle, rgba(0,0,0,0.1390756986388305) 0%, rgba(0,0,0,0.33235300956320024) 33%, rgba(0,0,0,0.6040616930365896) 82%, rgba(0,0,0,1) 100%), url(../img/BannerMixSm.jpg);
}

/* body{
  height: 100%;
} */

p, span {
  text-shadow: 1px 2px #000;
}

canvas{
  display:block;
  vertical-align:bottom;
  height: 100vh;
}

#masthead {
  font-size: 3rem;
  font-family:serif;
  color: white;
  text-shadow: 2px 3px #000;
  /* position: absolute; */
}

/* ------Main Page------ */

#hero{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

#hero > main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 75%;
  margin: auto;
}

#hero span {
  font-size: 2rem;
  text-align: center;
  display: block;
}

#hero p {
  font-size: 6rem;
  text-align: center;
  text-shadow: 2px 3px #000;
}

#hero .buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  margin: 0 auto;
  z-index: 2;
}

#hero .button {
  padding: 10px 10px;
  border-radius: 5%;
  text-align: center;
  margin: 10px auto;
}

#hero .button a{
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  /* background-color: #000000;
  background-image: url('../img/BannerMixSm.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; */
  z-index: 1;
}

.particles-js-canvas-el{
  position: absolute;
  top: 0;
  z-index: 1;
}


@media screen and (height <= 1000px) , (width <= 1000px) {

  #masthead {
    font-size: 3rem;
    text-shadow: 2px 3px #000;
  }

  #hero p {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 3px #000;
  }

  #hero span {
    font-size: 2.5rem;
  }

.button {
  margin: 5px auto;
}

  .button a{
    font-size: 1.2rem;
  }
}

@media screen and (height < 810px) , (width < 810px) {

  #masthead {
    font-size: 2rem;
    text-shadow: 2px 3px #000;
  }

  #hero p {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 3px #000;
  }

  #hero span {
    font-size: 2rem;
  }

.button {
  margin: 5px auto;
}

  .button a{
    font-size: 1.2rem;
  }
}

@media screen and (height <= 412px) , (width <=412px){

  #masthead {
    font-size: 2rem;
    text-shadow: 2px 3px #000;
  }

  #hero p {
    font-size: 2rem;
  }

  #hero span {
    font-size: 1.5rem;
  }

  .buttonContainer{
    width: 100%;
  }

}


#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
